// Core variables and mixins
// Core variables and mixins without output available outside .koowa scope
@import "../../../../nooku-framework/code/media/koowa/com_koowa/scss/bootstrap/variables";
@import "../../../../nooku-framework/code/media/koowa/com_koowa/scss/bootstrap/mixins";

// Path variable
$koowaPath: '../../../koowa/com_koowa';

// Import user interface
@import "../../../../nooku-framework/code/media/koowa/com_koowa/scss/admin";

// Import icons
@import "../../../../nooku-framework/code/media/koowa/com_koowa/scss/koowa/icons";

// Import Nooku
@import "../../../../nooku-framework/code/media/koowa/com_koowa/scss/generic/mixins";
@import "../../../../nooku-framework/code/media/koowa/com_koowa/scss/generic/general";
@import "../../../../nooku-framework/code/media/koowa/com_koowa/scss/koowa";
@import "../../../../nooku-framework/code/media/koowa/com_koowa/scss/generic/dialog";

@import "koowa/files";
@import "koowa/attachments";

.koowa {
  @import "koowa/dialog";
  @import "koowa/modal";
}

// Shame
.koowa .koowa_dialog__menu a.koowa_dialog__menu__child--attachments {
  width: 150px;
}

/* Frontend */

.attachments {
  &:before,
  &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }
}

// Attachments
.attachments__image {
  width: 128px;
  height: 96px;
  text-align: center;
  line-height: 94px;

  &--thumbnail {
    width: 128px;

    img {
      max-width: 130px;
      max-height: 96px;
      vertical-align: middle;
    }
  }
}

