// Core variables and mixins
// Core variables and mixins without output available outside .koowa scope

@import "../../../../joomlatools-framework/code/libraries/joomlatools/library/resources/assets/scss/bootstrap/variables";
@import "../../../../joomlatools-framework/code/libraries/joomlatools/library/resources/assets/scss/bootstrap/mixins";

// Path variable
$koowaPath: '../../../koowa/framework';

// Import user interface
@import "../../../../joomlatools-ui/src/scss/joomlatools-ui";

@import "koowa/general";

.koowa {
  @import "koowa/modal";
}
