/**
 * Variables
 */

$k-uploader-height: 60px !default;
$k-uploader-max-height: 300px !default;

/**
 * Uploader
 *
 * 1. Content-box so we don't get weird 1pixel jump error on IE (IE10 as well)
 * 2. Hide overflowing content like messages and info
 */

.k-upload {
  -webkit-box-sizing: content-box; /* 1 */
  -moz-box-sizing: content-box; /* 1 */
  box-sizing: content-box; /* 1 */
  overflow: hidden; /* 2 */
  background: white;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin-bottom: 20px;

  /* Border box size everything inside */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}


/**
 * Uploader animations
 *
 * 1. Position relative for `top` to work properly
 * 2. By default hide overflowing content
 * 3. Smooth transitions
 */

.k-upload__body-default,
.k-upload__body-message,
.k-upload__body-info {
  position: relative; /* 1 */
  overflow: hidden; /* 2 */
  transition: all .4s ease-in-out; /* 3 */
}


/**
 * Default content wrapper
 *
 * 1. Higher z-index than message and info
 * 2. Set opacity to 1, so we can transition to 0
 * 3. Height should always be the same as the uploader
 */

.k-upload__body-default {
  z-index: 1; /* 1 */
  opacity: 1; /* 2 */
  min-height: $k-uploader-height; /* 3 */
  max-height: $k-uploader-height; /* 3 */
}


/**
 * Default content wrapper when message or info is visible
 *
 * 1. Set opacity to 0 to hide the item visually
 * 2. Move item out of "screen"
 */

.has-error,
.has-open-info {
  .k-upload__body-default {
    opacity: 0; /* 1 */
    margin-top: -60px; /* 2 */
  }
}


/**
 * Message and info containers, "hide" be default
 *
 * 1. Lower z-index to put behind the default content wrapper
 * 2. Set opacity to 0 to hide the item visually
 * 3. Height should always be the same as uploader
 * 4. Position items above content wrapper to make them slide in from top
 */

.k-upload__body-message,
.k-upload__body-info {
  z-index: 0; /* 1 */
  opacity: 0; /* 2 */
  min-height: $k-uploader-height; /* 3 */
  max-height: $k-uploader-height; /* 3 */
  margin-top: -($k-uploader-height); /* 4 */
  top: -($k-uploader-height); /* 4 */
}


/**
 * Display error and info
 *
 * 1. Higher z-index than other container
 * 2. Set opacity to 1 to visually show item
 * 3. Minimum height should always be the same as the uploader
 * 4. Set the max-height
 * 5. Set overflowing to auto to get scrollbars when needed
 * 6. Move into "screen"
 */

.has-error .k-upload__body-message,
.has-open-info .k-upload__body-info {
    z-index: 1; /* 1 */
    opacity: 1; /* 2 */
    min-height: $k-uploader-height; /* 3 */
    max-height: $k-uploader-max-height; /* 4 */
    overflow: auto; /* 5 */
    top: 0; /* 6 */
    margin-top: 0; /* 6 */
}










.k-upload__content-wrapper {
  display: table;
  width: 100%;
  padding: 0 5px 0 15px;
  min-height: 60px;
  background: white;
}

.k-upload__content,
.k-upload__buttons {
  display: table-cell;
  vertical-align: middle;
}

.k-upload__content {
  font-size: 20px;
  max-width: 0;
}

.k-upload__buttons {
  width: 1%;
  white-space: nowrap;
  padding-left: 10px;
}

.k-upload__button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ddd;
  white-space: nowrap;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  background: white;

  &:focus,
  &:hover {
    background: #f5f5f5;
  }
}

.k-upload__button--upload {
  background: #3071a9;
  color: white;
  border: 1px solid #1f496e;
  display: none;
}

.k-upload__text-button {
  display: inline-block;
  border: none;
  background: transparent;
  text-decoration: underline;
  white-space: nowrap;
  padding: 5px 10px;
  font-size: 14px;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.k-upload {
  .progress {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 55px;
    left: 0;
    margin: 0;
    height: auto;
    z-index: -1;
    opacity: 0;
    transition: all .2s ease-in-out;

    &.is-uploading {
      z-index: 99;
      opacity: 1;
    }

    .bar {
      background-repeat: repeat;
    }
  }

  .plupload_stop {
    position: absolute;
    z-index: 100;
    display: block;
    margin: 10px;
  }
}

.plupload_container {
  &.plupload_view_thumbs .plupload_file {
    margin: 0;
    padding: 0;
    border: none;
    float: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
  }

  .plupload_content {
    position: static;
    overflow: visible;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    width: auto;

    .plupload_file {
      position: static;
      overflow: visible;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      width: auto;
    }
  }
}

.k-upload__buttons {
  .button,
  .text {
    position: relative;
    z-index: 50;
  }
}

.k-upload__details-button {
  font-size: 16px;
  cursor: pointer;
}

.k-upload__remove-button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 0 5px;
}

.k-upload {
  .plupload_file {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
  }
}

.k-upload__drop-message {
  transition: all .2s ease-in-out;

  &:after {
    content: "Ready to catch it!";
    font-weight: bold;
    opacity: 0;
    transition: all .6s ease-in-out;
  }
}

.k-upload__content {
  min-height: 42px;
  transition: all .8s ease-in-out;
}

.k-upload__files {
  opacity: 0;
  z-index: -1;
  margin: 0;
  padding: 0;
  border: none;
  transition: all .2s ease-in-out;
}

.k-upload.has-file {
  .k-upload__drop-message {
    font-size: 14px;
    line-height: 21px;
  }

  .k-upload__files {
    opacity: 1;
    z-index: 0;
    height: 21px;
    overflow: hidden;

    .plupload_file {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.k-upload__message,
.k-upload__info {
  padding: 8px 12px;
  transition: all .2s ease-in-out;
  font-size: 15px;
  line-height: 21px;
  border-radius: 2px;
  margin: 1px;
}

.k-upload__message--error {
  background: #e74c3c;
  color: white;
}

.k-upload__message--info {
  background: #2980b9;
  color: white;
}

.k-upload__message__content,
.k-upload__info__content {
  display: table;
  width: 100%;
}

.k-upload__message__body,
.k-upload__message__button,
.k-upload__info__body,
.k-upload__info__button {
  display: table-cell;
  vertical-align: middle;
}

.k-upload__message__button,
.k-upload__info__button {
  text-align: right;
  padding: 6px 4px 6px 10px;
}

.k-upload__message__button,
.k-upload__info__button {
  vertical-align: top;
  width: 1%;
  white-space: nowrap;
}

.k-upload__overflow {
  width: 100%;
  max-height: 200px;
  overflow: auto;
}

.k-upload__info__body {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
  }
}





.has-dragdrop {
  border-color: #29abe2;

  .k-upload__content-wrapper {
    background: #e9f8ff;
  }

  .k-upload__drop-message {
    &:after {
      opacity: 1;
    }
  }
}