.k-upload {
  position: relative;
  background: white;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin-bottom: 20px;
}

.k-upload__content {
  display: table;
  width: 100%;
  padding: 0 5px 0 15px;
}

.k-upload__drop-message,
.k-upload__buttons {
  display: table-cell;
  vertical-align: middle;
}

.k-upload__drop-message {
  font-size: 20px;
}

.k-upload__buttons {
  width: 1%;
  white-space: nowrap;
}

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ddd;
  white-space: nowrap;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  background: white;
}

.button:focus, .button:hover {
  background: #f5f5f5;
}

.text {
  display: inline-block;
  border: none;
  background: transparent;
  text-decoration: underline;
  white-space: nowrap;
  padding: 5px 10px;
  font-size: 14px;
}

.text:focus, .text:hover {
  text-decoration: none;
}

#my_file,
#my_files {
  display: none;
}

.k-upload__loading,
.k-upload__loading2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 10;
  text-align: right;
  display: none;
}

.k-upload__loading__bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #27AE60;
  border: 1px solid white;
  transition: all 1s ease-in-out;
  width: 100%;
  color: white;
  overflow: hidden;
}

.k-upload__chosen,
.k-upload__chosen2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 10;
  padding: 0 5px 0 15px;
  display: none;
  opacity: 0;
  border-radius: 2px;
}









.k-upload.k-upload {
  /* Content-box so we don't get weird 1pixel jump error on IE (IE10 as well) */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  transition: all .2s ease-in-out;
  overflow: hidden;

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.plupload_container.plupload_container {
  min-height: 0;
  height: auto;
  position: static;
}

.plupload_view_thumbs .plupload_content.plupload_content {
  bottom: 0;
  top: 0;
}

.k-upload {
  .progress {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    height: auto;
    z-index: -1;
    opacity: 0;
    transition: all .2s ease-in-out;

    &.is-uploading {
      z-index: 99;
      opacity: 1;
    }

    .bar {
      background-repeat: repeat;
    }
  }

  .plupload_stop {
    position: absolute;
    z-index: 100;
    display: block;
    margin: 10px;
  }
}

.plupload_container {
  &.plupload_view_thumbs .plupload_file {
    margin: 0;
    padding: 0;
    border: none;
    float: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
  }

  .plupload_content {
    position: static;
    overflow: visible;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    width: auto;

    .plupload_file {
      position: static;
      overflow: visible;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      width: auto;
    }
  }
}

.k-upload__buttons {
  .button,
  .text {
    position: relative;
    z-index: 50;
  }
}


.k-upload {
  .plupload_file {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
  }
}

.k-upload__drop-message__default {
  transition: all .2s ease-in-out;
}

.k-upload__drop-message {
  min-height: 42px;
  transition: all .8s ease-in-out;
}

.k-upload__drop-message__uploaded {
  opacity: 0;
  z-index: -1;
  margin: 0;
  padding: 0;
  border: none;
  transition: all .2s ease-in-out;
}

.k-upload__drop-message.has-file {
  .k-upload__drop-message__default {
    font-size: 14px;
    line-height: 21px;
  }

  .k-upload__drop-message__uploaded {
    opacity: 1;
    z-index: 0;
  }
}

.k-upload__message {
  padding: 8px 12px;
  transition: all .2s ease-in-out;
  font-size: 15px;
  line-height: 21px;
  border-radius: 2px;
  margin: 1px;
}

.k-upload__message--error {
  background: #e74c3c;
  color: white;
}

.k-upload__message--info {
  background: #2980b9;
  color: white;
}

.upload__message__content {
  display: table;
  width: 100%;
}

.upload__message__body,
.upload__message__button {
  display: table-cell;
  vertical-align: middle;
}

.upload__message__button {
  text-align: right;
  padding: 6px 4px 6px 10px;
}

.k-upload {
  min-height: 60px;
  max-height: 60px;
  position: relative;
  overflow: hidden;
  transition: all .4s ease-in-out;
}

.k-upload__content,
.k-upload__message {
  position: relative;
  transition: all .4s ease-in-out;
}

.k-upload__content {
  margin-top: 0;
  top: 0;
  opacity: 1;
  min-height: 60px;
  max-height: 100px;
}

.k-upload__message {
  margin-top: -60px;
  top: -60px;
  opacity: 0;
  min-height: 58px;
  max-height: 0;
  overflow: hidden;
}

.has-error {
  max-height: 500px;

  .k-upload__content {
    margin-top: -60px;
    top: -60px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }

  .k-upload__message {
    top: 0;
    margin-top: 1px;
    opacity: 1;
    max-height: 500px;
    overflow: auto;
  }
}